# Dont trach results folder
results/

# User-specific configuration files (to prevent accidental commits)
# These should be manually managed by each user
nixmod-dotfiles/**/*.local
nixmod-dotfiles/**/*.user
nixmod-dotfiles/**/*.bak
nixmod-dotfiles/**/*~
nixmod-dotfiles/**/secrets*

# App specific run data
nixmod-dotfiles/clipse/clipboard_history.json
nixmod-dotfiles/clipse/clipse.log
nixmod-dotfiles/clipse/tmp_files/*

nixmod-dotfiles/hypr/last_wallpaper.txt

#ignore all .lock files
*.lock

