# Dont trach results folder
results/

# User-specific configuration files (to prevent accidental commits)
# These should be manually managed by each user
extConfig/**/*.local
extConfig/**/*.user
extConfig/**/*.bak
extConfig/**/*~
extConfig/**/secrets*

# App specific run data
extConfig/clipse/clipboard_history.json
extConfig/clipse/clipse.log
extConfig/clipse/tmp_files/*

extConfig/hypr/last_wallpaper.txt

#ignore all .lock files
*.lock

