/* wlogout style - Catppuccin Macchiato */
* {
    all: unset;
    background-image: none;
    margin: unset;
    padding: unset;
    transition: 200ms cubic-bezier(0, 0, 1, 1);
}

window {
    background-color: rgba(24, 24, 37, 0.95);
}

button {
    font-family: sans-serif;
    font-size: 14px;
    color: #cad3f5;
    background-color: #363a4f;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    padding: 16px;
    margin: 4px;
}

button:hover {
    background-color: #494d64;
}

button:focus {
    background-color: #8bd5ca;
    color: #1e1e2e;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
