* {
   font-family: "RH Phonic", monospace;
}

window {
    background-color: transparent;
}

#input {
    margin: 10px;
    border-radius: 15px;
    border: 2px solid #5b6078;
    background-color: #24273A;
    color: #cad3f5;
    padding: 10px;
}

#inner-box {
    background-color: rgba(36, 39, 58, 0.85); /* base with transparency for blur */
    border-radius: 15px;
}

#outer-box {
    margin: 5px;
    padding: 15px;
    background-color: rgba(36, 39, 58, 0.85);
    border-radius: 15px;
    border: 2px solid #494d64; /* surface1 */
}

#scroll {
    margin: 5px;
}

#text {
    padding: 8px;
    color: #cad3f5; /* text */
}

#entry {
    border-radius: 10px;
    margin-bottom: 2px;
}

#entry:nth-child(even){
    background-color: rgba(54, 58, 79, 0.5); /* surface0 half-opaque */
}

#entry:selected {
    background-color: #c6a0f6; /* mauve */
}

#text:selected {
    background: transparent;
    color: #24273a; /* text contrast on mauve */
}
